
body {
  background-color: #f3e5ab;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
.home-container {
  padding: 20px;
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.add-recipe-button {
  background-color: #28a745;
}

.add-recipe-button:hover {
  background-color: #218838;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  margin: 10px;
}
